.about__header
    padding: 10px 10px 0 10px
    margin-bottom: 0 !important
    font-size: 3.5em
    color: $gold-color

.about__header, .about__subheader    
    font-family: 'Crimson Text', serif

.about__subheader
    font-size: 1.4em
    top: -50px

.about__subheader, .about__text
    padding: 10px
    padding-top: 0
    color: $gold-color

.about__text
    color: black
    padding-bottom: 31px

.about__header_logo
    display: none

.about__tags
    opacity: 0.8
