.container__navbar
    top: 0
    display: flex
    position: fixed
    min-height: 80px
    min-width: 100%
    z-index: 10
    justify-content: space-between
    background-color: $white-bg-color
    -webkit-box-shadow: 0px 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0
    -moz-box-shadow: 0px 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0

.container__navbar_logo, .container__navbar_burger
    margin: auto 1em
    color: $wine-color
    text-align: center

.container__navbar_logo
    width: 114px
    height: 45px
    background-image: url('../images/logo-114.png')
    background-repeat: no-repeat
    background-size: contain

.container__navbar_pop
    position: fixed
    z-index: 5
    min-width: 100%
    min-height: 100%

.container__slider
    height: 250px
    max-height: 250px
    margin-top: 80px

.container__about
    background-color: $white-bg-color

.container__navbar_pop, .container__findus, .container__footer
    background-color: $wine-color

.container__slider, .container__about, .container__findus, .container__reservation, .container__specials, .container__footer, .container__thanks
    width: 100%
    max-width: 100%

.container__about, .container__reservation, .container__specials, .container__thanks, .container__footer
    padding: 30px 15px 50px

.container__findus
    padding: 40px 15px 0

.container__reservation
    padding-top: 40px

.container__footer
    padding-bottom: 30px

@media screen and (min-width: 900px)
    .container__about, .container__findus, .container__reservation, .container__specials, .container__thanks, .container__footer
       padding: 15px 30px 25px

@media screen and (min-width: 900px)
    .container__about, .container__findus, .container__reservation, .container__specials
        margin: 10px

@media screen and (min-width: 900px)
  .container__flex
    padding: 2em
    display: flex
    flex-wrap: wrap
    flex-direction: column
    max-height: 1080px
    align-content: center

@media screen and (min-width: 900px)
    .container__navbar, .container__slider
        display: none

@media screen and (min-width: 900px)
    .container__about, .container__findus
        max-width: 48%

@media screen and (min-width: 900px)
    .container__reservation, .container__specials
        max-width: 40%
        background-color: $white-bg-color

@media screen and (min-width: 900px)
    .container__about, .container__findus, .container__reservation, .container__thanks, .container__specials
        border-radius: 20px
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.80)

@media screen and (min-width: 900px)
    .container__thanks
        max-width: 70%
        background-color: $white-bg-color
        margin: 30px auto

@media screen and (min-width: 2000px)
    .container__about, .container__findus, .container__reservation, .container__specials
        max-width: 30%

@media screen and (min-width: 900px)
    .container__footer
        height: 200px

@media screen and (min-width: 900px)
    .container__body
        min-height: calc(100vh - 200px)
