.findus__header
    padding: 10px 10px 0 10px
    margin-bottom: 0 !important
    font-size: 3.5em
    color: $gold-color

.findus__header, .findus__subheader
    font-family: 'Crimson Text', serif

.findus__subheader
    font-size: 1.4em

.findus__subheader, .findus__text
    padding: 10px
    padding-top: 0
    color: $gold-color

.findus__text
    color: white

.findus__map
    background-color: $white-bg-color
