.footer__address, .footer__phone
    text-align: center
    color: white

.footer__phone
    margin-top: 1em

.footer__flex
    display: flex
    justify-content: center 

.footer__flex_item
    min-width: 15%
    margin: 20px 0

.footer__credit
    color: white
    text-align: center

    a
        color: $gold-color

@media screen and (min-width: 900px)
    .footer__flex_item
        min-width: 30px 