.thanks__header
    padding: 30px 10px 0 10px
    font-size: 3em
    color: $gold-color

.thanks__header, .thanks__subheader    
    font-family: 'Crimson Text', serif
    text-align: center

.thanks__subheader
    font-size: 1.4em

.thanks__subheader, .thanks__text
    padding: 10px
    padding-top: 0
    color: $gold-color

.thanks__text
    padding: 60px
    color: white
    font-size: 30px
    text-align: center

@media screen and (min-width: 900px)
    .thanks__header
        font-size: 3.5em
    
    .thanks__text
        color: black
