@import url('https://fonts.googleapis.com/css?family=Crimson+Text')
@import url('https://fonts.googleapis.com/css?family=Open+Sans')

@media screen and (min-width: 900px)
  body
    background-color: $grey-bg-color
    background-image: url("../images/carousel/1-min.jpg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
